#form-container {
  height: calc(600px * 1.2);
  overflow-y: scroll;
  scrollbar-width: 20px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 420px;
}

#map-container {
  width: 100%;
}

.button-wrapper {
  display: grid;
  place-content: center center;
  padding-bottom: 20px;
}

.button-wrapper .get-started-button,
.button-wrapper .dataset-update-button {
  margin: 0 !important;
}

label.clusters-input,
label.clustering-input {
  padding: 20px 25px 40px;
  display: grid;
  justify-items: center;
}

.clusters-input input,
.clustering-input select {
  font-size: 19px;
  text-align: center;
  padding: 0.5ch 1ch;
  margin: 0;
  -moz-appearance: initial;
}

.clusters-input input {
  width: 100px;
}

.clustering-input select {
  width: 150px;
  appearance: menulist;
}

dialog:modal {
  max-width: 100%;
  max-height: 100%;
}

dialog#dataset-updater-popup,
dialog#paste-interface-popup {
  display: grid;
  place-content: center;
  grid-auto-flow: row;
  width: 100%;
  height: 120%;
  background-color: #ccc9c6bb;
  border: none;
}

th,
td {
  background-color: white;
  border: 4px solid black;
  text-align: center;
}

th {
  padding: 1em 2em;
  color: white;
  background: #17A2B8;
}

td {
  padding: 0.5em 2em;
}

.add-row-cell {
  background: none;
  padding: 0;
}

.add-row-button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
  background-color: white;
}

.option-buttons {
  display: flex;
  flex-direction: row;
}

.option-buttons li {
  list-style-type: none;
}

.dialog-wrapper {
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
  padding: 1rem 2rem;
  border: 5px solid black;
  border-radius: 1ch;
  background: white;
}
