#form-container {
  height: calc(600px * 1.2);
  overflow-y: scroll;
  scrollbar-width: 20px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 420px;
}

#map-container {
  width: 100%;
}

.button-wrapper {
  display: grid;
  place-content: center center;
  padding-bottom: 20px;
}

.button-wrapper .get-started-button,
.button-wrapper .dataset-update-button {
  margin: 0 !important;
}

.container {
  align-items: center;
  display: flex;
}

.dropdowns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2ch;
  background: #051622;
  border-radius: 10px;
  padding: 20px 25px 40px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.dropdowns label {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  margin: 0;
  padding: 0;
}

.clustering-input {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.dropdowns label header {
  text-align: center;
}

.clusters-input header {
  line-height: 1.3;
}


label.clusters-input,
label.clustering-input {
  /* flex: 1; */
  display: flex;
  /* Enable flexbox layout */
  align-items: center;
  justify-content: center;
  /* Vertically align elements within labels */
}

.clusters-input input,
.clustering-input select {
  font-size: 19px;
  text-align: center;
  margin: 0;
  padding: 0.5ch 1ch;
  -moz-appearance: initial;
  /* flex: 1; */
}

.clusters-input input {
  width: 100px;
  /* flex: 1; */
}

.clustering-input select {
  width: 125px;
  appearance: menulist;
}

dialog:modal {
  max-width: 100%;
  max-height: 100%;
}

dialog#dataset-updater-popup,
dialog#paste-interface-popup {
  display: none;
}

dialog#dataset-updater-popup[open],
dialog#paste-interface-popup[open] {
  display: grid;
  place-content: center;
  grid-auto-flow: row;
  width: 100%;
  height: 120%;
  background-color: #ccc9c6bb;
  border: none;
}

.dataset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 10rem;
  padding-bottom: 3rem;
}

th,
td {
  background-color: white;
  border: 4px solid black;
  text-align: center;
}

th {
  padding: 1em 2em;
  color: white;
  background: #17A2B8;
}

td {
  padding: 0.5em 2em;
}

td input[type="number"] {
  width: 75px;
}

.add-row-cell {
  background: none;
  padding: 0;
}

.add-row-button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
  background-color: white;
}

.option-buttons {
  display: flex;
  flex-direction: row;
}

.dataset-buttons {
  flex-direction: row-reverse;
}

.option-buttons li {
  list-style-type: none;
}

.dialog-wrapper {
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
  padding: 1rem 2rem;
  border: 5px solid black;
  border-radius: 1ch;
  background: white;
}

input[type="number"] {
  border-radius: 5px;
  border: 1px solid #999;
  padding: 0.5ch 1ch;
}
