@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif
}

body{
    background: #051622;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background: #10141A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #10141A;
    animation: showRight 1s ease forwards;
    animation-delay: .3s;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .2s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.main-section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f242d;
    font-size: 100px;
    color: #fff;
    font-weight: 700;
}

.main-section:nth-child(odd){
    background: #051622;
}

.main-section:nth-child(even){
    background:  #081B29;
}

.explore{
    height: 100vh;
    background: url('modified_seismap.svg') no-repeat;
    background-size: 350px 350px;
    background-position: 89% center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}


.explore-content{
    max-width: 600px;
}

.explore-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.explore-content h1::before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081B29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.explore-content h3{
    font-size:32px;
    font-weight:700;
    color: #00abf0;
}

.explore-content h3::before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.explore-content p{
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.explore-content p::before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.explore-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 470px;
    height: 55px;
}

.explore-content .btn-box::before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index:1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(3){
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}

.btn-box a:nth-child(3):hover{
    color: #081b29;
}

.btn-box a:nth-child(2)::before{
    background:#00abf0;
}

.btn-box a:nth-child(3)::before{
    background:#00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    /* background: red; */
    background: #081b29; 
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%
}

.home-imgHover{
    position: absolute;
    top:0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHolder .1s forwars;
    animation-delay:2s;
    pointer-events:none;
}

.home-imgHover:hover{
    background: #081b29;
    opacity: .8;
}

.home-imgHover::after{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width: 120%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 2;
}


/* KEYFRAMES ANIMATION */

@keyframes showRight{
    100%{
        width:0;
    }
}

@keyframes manipActiveHolder{
    100%{
        pointer-events: auto;
    }
}