#forecast-container {
  color: white;
  height: calc(700px);
}

.button-wrapper.row-flow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 20px 25px 40px;
}

.button-wrapper.row-flow button {
  margin: 0;
}
